<div class="main">
    <div [class]="show()">
        <button (click)="clickButton(1,0)">Add new</button>
        <div class="car-body">
            <table>
                <tr class="tr-header">
                    <th>Type</th>
                    <th>Company</th>
                    <th>Vessel</th>
                    <th colspan="10">Book ID</th>
                </tr>
                <tr class="tr-header">
                    <th></th>
                    <th>Loading</th>
                    <th>Discharge</th>
                    <th>ETC</th>
                    <th>ETA</th>
                    <th>Payment Type</th>
                    <th>Roro Container</th>
                    <th>Yard & Forwarder</th>
                    <th>Shipper</th>
                    <th colspan="3">IV No.</th>
                </tr>
                <tr class="tr-header">
                    <th colspan="2"></th>
                    <th>Matter#</th>
                    <th>Date in Yard</th>
                    <th>Car Name</th>
                    <th>Vin No.</th>
                    <th>Booking Day</th>
                    <th>EC</th>
                    <th>Parking Day</th>
                    <th>Remarks</th>
                    <th>Customer(end)</th>
                    <th>Inspection Company</th>
                </tr>
                <ng-container *ngFor="let company of listCompanies">
                    <tr (click)="getTransportByCompanyId(company.id)">
                        <td><span *ngIf="isShowTransport[company.id]">▲</span><span *ngIf="!isShowTransport[company.id]">▼</span>{{company.type}}</td>
                        <td>{{company.company}}</td>
                        <td>{{company.vessel}}</td>
                        <td colspan="10">{{company.book_id}}</td>
                    </tr>
                    <ng-container *ngIf="isShowTransport[company.id]">
                        <ng-container *ngFor="let transport of listTransportById[company.id]">
                            <tr (click)="getCarByTransportId(transport.id, company.id)">
                                <td></td>
                                <td><span *ngIf="isShowCar[transport.id]">▲</span><span *ngIf="!isShowCar[transport.id]">▼</span>{{transport.loading}}</td>
                                <td>{{transport.discharge}}</td>
                                <td>{{transport.etd}}</td>
                                <td>{{transport.eta}}</td>
                                <td>{{transport.payment_type}}</td>
                                <td>{{transport.roro_container}}</td>
                                <td>{{transport.yard_forwarder}}</td>
                                <td>{{transport.shipper}}</td>
                                <td colspan="3">{{transport.iv_no}}</td>
                            </tr>
                            <ng-container *ngIf="isShowCar[transport.id]">
                                <ng-container *ngFor="let car of listCarById[transport.id]">
                                    <tr [ngStyle]="{'background-color': isShowPopup == true && car.id == idStyle ? '#0460D3' : ''}" (click)="clickButton(2, car.id)">
                                        <td colspan="2"></td>
                                        <td>{{ car.matter }}</td>
                                        <td>{{ car.date_in_yard }}</td>
                                        <td>{{ car.car }}</td>
                                        <td>{{ car.vin_no }}</td>
                                        <td>{{ car.booking_day }}</td>
                                        <td>{{ car.EC }}</td>
                                        <td>{{ car.parking_day }}</td>
                                        <td>{{ car.remarks }}</td>
                                        <td>{{ car.customer }}</td>
                                        <td>{{ car.inspection_company }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>

            </table>
        </div>
    </div>
    <div *ngIf="isShowPopup" class="popup">
        <button class="button-x" (click)="isShowPopup=false">X</button>
        <form>
            <p>
                <label>Transport:</label>
                <select [(ngModel)]="carInfo.transport_id" name="carInfo.transport_id" [disabled]="isShowEdit">
                        <option *ngFor="let transport of listTransports" value="{{ transport.id }}">{{transport.loading}}</option>
                </select>
            </p>
            <p>
                <label>Matter:</label><input type="text" name="carInfo.matter" [(ngModel)]="carInfo.matter"><br>
            </p>
            <p>
                <label>Date in Yard:</label><input type="text" name="carInfo.date_in_yard" [(ngModel)]=" carInfo.date_in_yard "><br>
            </p>
            <p>
                <label>Car Name:</label><input type="text " name="carInfo.car " [(ngModel)]="carInfo.car "><br>
            </p>
            <p>
                <label>Vin No:</label><input type=" text " name="carInfo.vin_no " [(ngModel)]="carInfo.vin_no "><br>
            </p>
            <p>
                <label>Booking Day:</label><input type="date " name="carInfo.booking_day " [(ngModel)]="carInfo.booking_day "><br>
            </p>
            <p>
                <label>EC:</label><input type="text " name="carInfo.EC " [(ngModel)]="carInfo.EC "><br>
            </p>
            <p>
                <label>Parking Day:</label><input type="text " name="carInfo.parking_day " [(ngModel)]="carInfo.parking_day "><br>
            </p>
            <p>
                <label>Remarks:</label><input type=" text " name="carInfo.remarks " [(ngModel)]="carInfo.remarks "><br>
            </p>
            <p>
                <label>Customer(end):</label><input type="text " name="carInfo.customer " [(ngModel)]="carInfo.customer "><br>
            </p>
            <p>
                <label>Inspection Company:</label><input type="date " name="carInfo.inspection_company " [(ngModel)]="carInfo.inspection_company "><br>
            </p>
        </form>
        <button class=" button-save ">Save</button>
    </div>
</div>